.l-part{
    float:left;
    width:36%;
    padding: 20px;
}

.r-part{
    float:right;
    width:25%;
    padding: 20px;
}
.le-part{
    float:left;
    width:45%;
    padding: 10px;
}

.ri-part{
    float:right;
    width:45%;
    padding: 10px;
}

h2{
	/* margin-top : 50px; */
	/* padding-top:40px; */
}

.search{
	float:center;
}